In [2]:
import requests
exec(requests.get('http://miruetoto.github.io/my_code/datahandling.py').text)

R[write to console]: Loading required package: usethis

In [3]:
A=initpd("n",n=10,p=5)
A

         X1        X2        X3        X4        X5
0  0.585160  1.140747 -0.187848  1.020573 -1.006130
1  0.055165 -0.284405 -1.299509  1.031472  0.869678
2 -0.766658  0.640294 -0.830260 -0.847247  0.264288
3  0.592013 -0.730476 -0.751989  0.389867  1.579832
4 -0.277847  0.543214 -1.357626  0.851932  1.590505
5 -2.151117 -0.362344 -2.870937 -0.342994  2.576924
6 -0.636073 -0.102459 -1.720225  2.366771  1.379302
7  0.307203 -0.244373 -1.765127 -2.330809 -0.015642
8 -0.084137  0.557712 -0.401224  1.055329 -1.137707
9  1.297973 -0.928774  0.146354 -1.776146  1.569677

In [4]:
pindex=cc(1,3)*2-2
pindex

array([0, 2, 4])

In [5]:
A.iloc[:,pindex]

         X1        X3        X5
0  0.585160 -0.187848 -1.006130
1  0.055165 -1.299509  0.869678
2 -0.766658 -0.830260  0.264288
3  0.592013 -0.751989  1.579832
4 -0.277847 -1.357626  1.590505
5 -2.151117 -2.870937  2.576924
6 -0.636073 -1.720225  1.379302
7  0.307203 -1.765127 -0.015642
8 -0.084137 -0.401224 -1.137707
9  1.297973  0.146354  1.569677