In [1]:
import requests
exec(requests.get('http://miruetoto.github.io/my_code/dataHandling.py').text)

In [2]:
A=initpd("n",n=10,p=5)
A

         X1        X2        X3        X4        X5
0  0.667535 -0.083325 -1.413616  1.590845  1.332305
1 -0.965622  2.309635 -1.779668 -2.128745 -0.956518
2 -1.128929  0.785997  1.100273  0.048042  0.560987
3  0.934220  2.669176  1.217369  0.303102 -0.209777
4 -0.531781 -0.414166  1.598113  0.982332  0.476827
5  0.532243  0.155966 -0.386938 -0.628361  0.327921
6 -0.139761  1.273375  0.256311 -0.118866 -2.033089
7  0.861139 -0.176043  1.953852  1.374501 -0.162836
8  0.715782 -0.874564 -0.549582  0.454027 -0.386264
9  0.715971 -0.155725  0.733199 -1.908823  1.715699

In [3]:
pindex=cc(1,3)*2-2
pindex

array([0, 2, 4])

In [4]:
A.iloc[:,pindex]

         X1        X3        X5
0  0.667535 -1.413616  1.332305
1 -0.965622 -1.779668 -0.956518
2 -1.128929  1.100273  0.560987
3  0.934220  1.217369 -0.209777
4 -0.531781  1.598113  0.476827
5  0.532243 -0.386938  0.327921
6 -0.139761  0.256311 -2.033089
7  0.861139  1.953852 -0.162836
8  0.715782 -0.549582 -0.386264
9  0.715971  0.733199  1.715699