In [1]:
import requests
exec(requests.get('http://miruetoto.github.io/my_code/dataHandling.py').text)
%load_ext rpy2.ipython
%R library(devtools)

R[write to console]: Loading required package: usethis

array(['devtools', 'usethis', 'tools', 'stats', 'graphics', 'grDevices',
       'utils', 'datasets', 'methods', 'base'], dtype='<U9')

In [2]:
A=initpd("n",n=10,p=5)
A.columns=['XY1','XY2','XZ1','XZ2','X5']
A

        XY1       XY2       XZ1       XZ2        X5
0 -0.535812  0.153755  0.799126 -0.600088  1.135606
1 -0.211833 -1.092071  0.907624 -1.009104 -0.807874
2  0.366947 -0.480223 -0.058705  1.149821  0.144828
3  1.663027 -1.044055  0.546560  0.400932 -1.006680
4 -1.897995 -0.010004 -0.708272 -0.140036 -0.627490
5  1.392467 -1.241207  0.230313 -0.281607  1.079818
6  0.928215 -0.431840 -0.465776  0.760799  0.926886
7 -0.567584 -0.300864  1.110696  0.608194 -1.209082
8  0.958232  0.581277  0.605270  0.633278 -0.546997
9 -1.057526  0.596989  0.347144  0.057564 -0.768279

In [7]:
push(A,"A")
library("tidyverse")
r2p(ro.r('rename(A,XZ3=X5)'))

        XY1       XY2       XZ1       XZ2       XZ3
0 -0.535812  0.153755  0.799126 -0.600088  1.135606
1 -0.211833 -1.092071  0.907624 -1.009104 -0.807874
2  0.366947 -0.480223 -0.058705  1.149821  0.144828
3  1.663027 -1.044055  0.546560  0.400932 -1.006680
4 -1.897995 -0.010004 -0.708272 -0.140036 -0.627490
5  1.392467 -1.241207  0.230313 -0.281607  1.079818
6  0.928215 -0.431840 -0.465776  0.760799  0.926886
7 -0.567584 -0.300864  1.110696  0.608194 -1.209082
8  0.958232  0.581277  0.605270  0.633278 -0.546997
9 -1.057526  0.596989  0.347144  0.057564 -0.768279